.add-event-wrapper {
  margin-top: 120px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.glass-card-add {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  width: 60%;
  padding: 40px;
  color: #fff;
}

.add-event-title {
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  background: linear-gradient(to right, #ffffff, #8aa8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add-event-form .form-label {
  color: #e4e8ff !important;
  font-weight: 600;
  margin-bottom: 6px;
  letter-spacing: 0.3px;
}

.add-event-form input.form-control:focus,
.add-event-form textarea.form-control:focus,
.add-event-form select.form-control:focus,
.glass-card-add .form-control:focus {
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.007) !important;
    border: 1px solid #6c8bff !important;
    box-shadow: 0 0 8px rgba(108, 139, 255, 0.4) !important;
}


.add-event-form input::placeholder,
.add-event-form textarea::placeholder,
.add-event-form select::placeholder {
  color: rgba(255, 255, 255, 0.65) !important;
}

.error-text {
  font-size: 13px;
  color: #ff6b6b;
  margin-top: 3px;
}

.add-event-btn {
  background: #4a6bff !important;
  color: #fff !important;
  font-weight: 700 !important;
  padding: 10px 20px !important;
  border-radius: 10px !important;
  border: none !important;
}

.add-event-btn:hover {
  background: #3654ec !important;
}
