
body {
  background-color: #0f172a;
  color: #f8fafc;
  font-family: "Poppins", sans-serif;
}

.events-title {
  font-weight: 800;
  background: linear-gradient(to right, #fff, #a5b4fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}





.event-card-theme:hover,
.event-card-theme:hover * {
  color: #1e293b !important;      
}



.event-img-box {
  width: 100%;
  height: 180px;            
  overflow: hidden;
  background: #1e293b;       
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}


.event-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  display: block;
  border-radius: 0;
}


.btn-gradient {
  background: linear-gradient(90deg, #6366f1, #ec4899);
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.btn-gradient:hover {
  filter: brightness(1.15);
  transform: translateY(-2px);
}
