root {

  max-width: 1280px;

  margin: 0 auto;

  padding: 2rem;

  text-align: center;

 

}



.logo {

  height: 6em;

  padding: 1.5em;

  will-change: filter;

  transition: filter 300ms;

}

.logo:hover {

  filter: drop-shadow(0 0 2em #646cffaa);

}

.logo.react:hover {

  filter: drop-shadow(0 0 2em #61dafbaa);

}



@keyframes logo-spin {

  from {

    transform: rotate(0deg);

  }

  to {

    transform: rotate(360deg);

  }

}



@media (prefers-reduced-motion: no-preference) {

  a:nth-of-type(2) .logo {

    animation: logo-spin infinite 20s linear;

  }

}



.card {

  padding: 2em;

}



.read-the-docs {

  color: #888;

}



.custom-navbar {
  position: fixed;      /* stays at top */
  top: 0;
  width: 100%;
  z-index: 999;

  background: rgba(15, 23, 42, 0.55) !important;

  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

}

/* Navbar heights */
/* Default space for fixed navbar */
#page-content {
  padding-top: 90px;   /* height of your navbar */
}

/* When mobile menu opens, push the page down */
.navbar-collapse.show ~ #page-content {
  margin-top: 200px !important; /* height of dropdown content */
}

.navbar-collapse.collapsing ~ #page-content {
  margin-top: 200px !important;
}

/* Optional animation */
#page-content {
  transition: margin-top 0.3s ease;
}






.nav-link-custom {

  color: #e2e8f0 !important;

  font-weight: 500;

  transition: 0.3s ease;

}



.nav-link-custom:hover {

  color: #ffffff !important;

  text-shadow: 0 0 8px rgba(255,255,255,0.5);

}









body {

  padding-top: var(--navbar-height-desktop);

}



@media (max-width: 768px) {

  body {

    padding-top: var(--navbar-height-mobile);

  }

}